In [17]:
import pandas as pd

### Carregar e inspecionar o dataset

In [2]:
acidentes = pd.read_csv('./data/accidents_2017_to_2023.csv', sep=';')

In [3]:
# Mostrando todas as colunas.
pd.set_option('display.max_columns', None)

# Visualizando tabela.
acidentes.head()

,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,classificacao_acidente,fase_dia,sentido_via,condicao_metereologica,tipo_pista,tracado_via,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia
0,01/01/2017,domingo,01:45:00,RS,116.0,"34,9",VACARIA,Defeito Mecânico no Veículo,Colisão traseira,Com Vítimas Feridas,Plena Noite,Decrescente,Céu Claro,Simples,Reta,6,0,4,0,2,0,4,2,"-2,85E+07","-5,09E+07",SPRF-RS,DEL05-RS
1,01/01/2017,domingo,01:00:00,PR,376.0,636,TIJUCAS DO SUL,Velocidade Incompatível,Saída de leito carroçável,Com Vítimas Fatais,Plena Noite,Crescente,Garoa/Chuvisco,Dupla,Curva,2,1,0,0,1,0,0,2,"-2,58E+07","-4,91E+07",SPRF-PR,DEL01-PR
2,01/01/2017,domingo,04:40:00,BA,101.0,65,ENTRE RIOS,Condutor Dormindo,Colisão frontal,Com Vítimas Fatais,Amanhecer,Decrescente,Nublado,Simples,Curva,5,1,1,1,2,0,2,2,"-1,20E+07","-3,81E+07",SPRF-BA,DEL01-BA
3,01/01/2017,domingo,06:30:00,PA,316.0,"72,5",CASTANHAL,Falta de Atenção à Condução,Colisão lateral,Com Vítimas Fatais,Amanhecer,Decrescente,Céu Claro,Simples,Reta,4,1,0,0,3,0,0,3,"-1,29E+06","-4,78E+07",SPRF-PA,DEL01-PA
4,01/01/2017,domingo,09:00:00,GO,20.0,"220,5",POSSE,Defeito na Via,Colisão com objeto estático,Com Vítimas Feridas,Pleno dia,Decrescente,Céu Claro,Simples,Desvio Temporário,3,0,2,1,0,0,3,1,"-1,41E+07","-4,63E+07",SPRF-DF,DEL02-DF

In [4]:
# Conferindo tipos de dados das colunas.
acidentes.dtypes

data_inversa               object
dia_semana                 object
horario                    object
uf                         object
br                        float64
km                         object
municipio                  object
causa_acidente             object
tipo_acidente              object
classificacao_acidente     object
fase_dia                   object
sentido_via                object
condicao_metereologica     object
tipo_pista                 object
tracado_via                object
pessoas                     int64
mortos                      int64
feridos_leves               int64
feridos_graves              int64
ilesos                      int64
ignorados                   int64
feridos                     int64
veiculos                    int64
latitude                   object
longitude                  object
regional                   object
delegacia                  object
dtype: object

### Eliminar colunas que não serão utilizadas

In [5]:
# Excluindo colunas que não serão utilizadas.
acidentes = acidentes.drop(columns=['br', 'km', 'regional', 'delegacia'])

### Tratar valores ausentes (NaN)

In [6]:
# Conferindo valores ausentes.
acidentes.isna().sum()

data_inversa               0
dia_semana                 0
horario                    0
uf                         0
municipio                  0
causa_acidente             0
tipo_acidente             40
classificacao_acidente     0
fase_dia                   0
sentido_via                0
condicao_metereologica     0
tipo_pista                 0
tracado_via                0
pessoas                    0
mortos                     0
feridos_leves              0
feridos_graves             0
ilesos                     0
ignorados                  0
feridos                    0
veiculos                   0
latitude                   0
longitude                  0
dtype: int64

In [7]:
# Substituindo valores ausentes da coluna tipo_acidente por desconhecido.
acidentes['tipo_acidente'] = acidentes['tipo_acidente'].fillna('Desconhecido')

In [8]:
# Visualizando tabela.
acidentes[acidentes['tipo_acidente'] == 'Desconhecido'].head()

,data_inversa,dia_semana,horario,uf,municipio,causa_acidente,tipo_acidente,classificacao_acidente,fase_dia,sentido_via,condicao_metereologica,tipo_pista,tracado_via,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude
106146,01/12/2018,sábado,16:00:00,MT,MATUPA,Desobediência às normas de trânsito pelo condutor,Desconhecido,Com Vítimas Feridas,Pleno dia,Crescente,Céu Claro,Simples,Reta,2,0,1,0,1,0,1,2,"-1,01E+07","-5,49E+07"
107490,21/12/2018,sexta-feira,19:30:00,MG,BELO HORIZONTE,Não guardar distância de segurança,Desconhecido,Com Vítimas Feridas,Anoitecer,Decrescente,Chuva,Simples,Reta,7,0,0,3,4,0,3,4,"-1,98E+07","-4,39E+07"
107623,15/11/2018,quinta-feira,14:00:00,RO,CANDEIAS DO JAMARI,Desobediência às normas de trânsito pelo condutor,Desconhecido,Com Vítimas Feridas,Pleno dia,Crescente,Céu Claro,Simples,Reta,2,0,0,1,1,0,1,2,"-8,79E+06","-6,36E+07"
135012,13/07/2018,sexta-feira,21:10:00,SC,GUARAMIRIM,Ultrapassagem Indevida,Desconhecido,Com Vítimas Fatais,Plena Noite,Decrescente,Céu Claro,Simples,Desvio Temporário,3,1,1,1,0,0,2,2,"-2,65E+07","-4,89E+07"
152323,09/10/2018,terça-feira,18:30:00,MG,MEDINA,Desobediência às normas de trânsito pelo condutor,Desconhecido,Com Vítimas Feridas,Plena Noite,Decrescente,Ignorado,Simples,Reta,2,0,0,1,0,1,1,2,"-1,63E+07","-4,15E+07"

### Corrigir tipos de dados

In [9]:
# Transformando a coluna de data para o tipo datetime.
acidentes['data_inversa'] = pd.to_datetime(acidentes['data_inversa'], format='%d/%m/%Y')

# Separando a data em colunas de dia, mês e ano.
acidentes['dia'] = acidentes['data_inversa'].dt.day
acidentes['mês'] = acidentes['data_inversa'].dt.month
acidentes['ano'] = acidentes['data_inversa'].dt.year
acidentes['nome_mês'] = acidentes['data_inversa'].dt.strftime('%B')

# Transformando nome_mês e dia_semana como tipo categórico para ordenação.
ordem_meses = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
ordem_semana = ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado'] 

acidentes['nome_mês'] = pd.Categorical(acidentes['nome_mês'], categories=ordem_meses, ordered=True)
acidentes['dia_semana'] = pd.Categorical(acidentes['dia_semana'], categories=ordem_semana, ordered=True)

# Excluindo coluna.
acidentes = acidentes.drop(columns=['data_inversa'])

### Remover valores duplicados

In [10]:
# Conferindo se existe linhas duplicadas.
acidentes.duplicated().sum()

24

In [11]:
# Removendo linhas duplicadas.
acidentes = acidentes.drop_duplicates()

### Análise Temporal

In [12]:
# Agrupando quantidade de acidentes por mês.
acidentes_mes = acidentes.groupby('nome_mês', observed=False)['nome_mês'].count().reset_index(name='quantidade')
acidentes_mes

     nome_mês  quantidade
0     January       40756
1    February       38300
2       March       40078
3       April       38401
4         May       39321
5        June       39558
6        July       41098
7      August       40656
8   September       35118
9     October       36399
10   November       34320
11   December       39123

In [13]:
# Agrupando quantidade de acidentes pelo dia da semana.
acidentes_semana = acidentes.groupby('dia_semana', observed=False)['dia_semana'].count().reset_index(name='quantidade')
acidentes_semana

      dia_semana  quantidade
0        domingo       76954
1  segunda-feira       62815
2    terça-feira       56600
3   quarta-feira       57874
4   quinta-feira       60323
5    sexta-feira       71430
6         sábado       77132

### Análise de Causa de Acidente

In [14]:
# Listando causas de acidentes que ultrapassem o 1% dos acidentes.
total_acidentes = len(acidentes)
principais_causas = acidentes['causa_acidente'].value_counts()
principais_causas = principais_causas[principais_causas > total_acidentes * 0.01].reset_index()
principais_causas

                                       causa_acidente   count
0                         Falta de Atenção à Condução  107785
1                             Velocidade Incompatível   43719
2   Desobediência às normas de trânsito pelo condutor   29318
3                                  Ingestão de Álcool   22141
4            Reação tardia ou ineficiente do condutor   21729
5                      Ausência de reação do condutor   19156
6                  Não guardar distância de segurança   17930
7                                   Condutor Dormindo   16819
8                         Defeito Mecânico no Veículo   15849
9   Acessar a via sem observar a presença dos outr...   14973
10                                 Pista Escorregadia   12646
11  Condutor deixou de manter distância do veículo...   12263
12                   Ingestão de álcool pelo condutor   11229
13                                   Animais na Pista   10532
14                             Ultrapassagem Indevida    9943
15                        Manobra de mudança de faixa    9908
16                       Falta de Atenção do Pedestre    8074
17            Avarias e/ou desgaste excessivo no pneu    7566
18               Demais falhas mecânicas ou elétricas    7246
19                             Transitar na contramão    5418

In [15]:
# Filtrando causas de acidentes relacionados a Álcool, Sono e Animais na Pista que provavelmente ocorrem mais a noite.
causas = principais_causas[principais_causas['causa_acidente'].isin(['Ingestão de Álcool', 'Ingestão de álcool pelo condutor', 'Condutor Dormindo', 'Animais na Pista'])]

# Juntando linhas que representavam informações iguais com nomes diferentes.
causas.loc[causas['causa_acidente'] == 'Ingestão de álcool pelo condutor', 'causa_acidente'] = 'Ingestão de Álcool'
causas = causas.groupby('causa_acidente')['count'].sum().sort_values(ascending=False).reset_index()

causas

       causa_acidente  count
0  Ingestão de Álcool  33370
1   Condutor Dormindo  16819
2    Animais na Pista  10532

In [16]:
# Comparando a diferença na quantidade de acidentes de cada causa conforme a fase do dia.
causas_fase_dia = pd.merge(causas[['causa_acidente']], acidentes[['causa_acidente', 'fase_dia']], on='causa_acidente')
causas_fase_dia = causas_fase_dia.groupby(['causa_acidente', 'fase_dia'])['fase_dia'].count().reset_index(name='quantidade')
causas_fase_dia

        causa_acidente     fase_dia  quantidade
0     Animais na Pista    Amanhecer         876
1     Animais na Pista    Anoitecer         455
2     Animais na Pista  Plena Noite        7042
3     Animais na Pista    Pleno dia        2159
4    Condutor Dormindo    Amanhecer        2389
5    Condutor Dormindo    Anoitecer         233
6    Condutor Dormindo  Plena Noite        7514
7    Condutor Dormindo    Pleno dia        6683
8   Ingestão de Álcool    Amanhecer        1342
9   Ingestão de Álcool    Anoitecer        1131
10  Ingestão de Álcool  Plena Noite       13754
11  Ingestão de Álcool    Pleno dia        5914

### Análise por Localização